body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 26px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    line-height: 1.1;


}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6f6f6f;
    line-height: 1.42857143;

}

.container {
    width: 90%;
    padding: 0px 15px;
    margin: 0 auto;

}

.main-page {
    width: 100%;
    height: 800px;
    background-image: url(../images/slide-1.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 1;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;

}

.navigation {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 999;
    /*
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
*/
    /*    overflow: auto;*/

}

.nav-cont {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.nav-logo {
    float: left;
    padding: 0px 20px;
    width: 20%;
    margin-top: 15px;


}

.logo-main {
    display: inline-block;
    text-decoration: none;
    text-align: right;
}

.nav-menu {
    float: right;
    width: 80%;
    margin-top: 15px;
    /*    padding-left: 15px;*/
    padding-top: 10px;
    text-align: center;
    /*    padding: 15px;*/
}

.nav-list {
    list-style: none;
    /*    padding: 10px;*/
}

.nav-list-items {
    display: inline-block;
    text-align: center;

}

/*
.nav-list>li
{
    float: left;
}
*/
.nav-name {
    color: white;

    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 15px;
    line-height: 20px;
    text-align: center;
}

.nav-name.nav-clr {
    color: #d73e4d;
}

.header-txt {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    /*    background-color: crimson;*/
    text-align: center;
    padding: 20px;

}

.head-hello {
    font-size: 48px;

    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6;
    color: white;
    margin-bottom: 7px;
}

.head-size {
    font-size: 18px;
    font-weight: 500;

    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.head-see {
    width: 170px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d73e4d;
    display: inline-block;
    text-decoration: none;

    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
}

.about-sec {
    width: 100%;
    background-color: white;
    padding-top: 100px;

}

.our-about {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.about-h2 {
    color: #292929;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 15px;


}

.line {
    text-align: center;
    width: 25px;
    height: 3px;
    background-color: #d73e4d;
    margin-top: 10px;
    margin-left: -12px;
    left: 50%;
    position: absolute;

}

.about-pera {

    font-size: 16px;
    line-height: 26px;
    margin: 50px auto 0px;
    color: #6f6f6f;

    /*    text-align: center;*/
}

.common-cont {
    width: 100%;
    overflow: auto;
    margin-top: 50px;


}

.about-det {
    width: 25%;
    padding: 0px 15px;
    float: left;
}

.about-deta {
    width: 90%;
    margin: auto;
    /*    text-align: center;*/
    margin-top: 50px;
    margin-bottom: 100px;

}

.about-logo {
    width: 130px;
    height: 130px;
    line-height: 130px;
    border: 2px solid #d73e4d;
    border-radius: 50%;
    font-size: 36px;
    color: #292929;
    margin: auto;
}

.web-about {

    text-transform: uppercase;
    /*    text-align: center;*/
    font-size: 22px;

    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 20px;

}

.dev-abt {

    text-decoration: none;
    color: #292929;


}

.about-sec .about-det {
    text-align: center;
}

.more-abt {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #d73e4d;
    width: 130px;
    line-height: 45px;
    margin-top: 22px;
    color: #292929;
}

.service-sec {
    width: 100%;
    padding-top: 100px;
    background-color: #232a34;
    padding-bottom: 80px;
    position: relative;

}

/*
.service
{
    position: absolute;
}
*/
.ser {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 15px;

}

.ser-pera {
    font-size: 16px;
    line-height: 26px;
    margin: 50px auto 0px;
    color: white;
}

.ser-data {
    width: 33.33%;
    padding: 25px 15px 0px;

    float: left;


}

.ser-inner {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 110px 23px 65px;
    border: 1px solid #808489;

}

.ser-logo-hide {
    /*    position: absolute;*/
    /*
    left: 0;
    right: 0;
*/
    /*    top: 50%;*/
    width: 100%;

}

.ser-logo {
    font-size: 48px;
    color: #808489;
    width: 80px;
    margin: 0 auto;
    background-color: #232a34;
}

.web-ser {
    font-size: 18px;

}

.web-de {
    color: #808489;
    text-transform: capitalize;
    margin-top: 33px;
    display: inline-block;
    text-decoration: none;
}

.pro-list {
    text-align: center;
    margin: 34px 0px 40px 0px;
    list-style: none;

}

.pro-list-items {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 10px 0px;
    padding: 0px 8px;
}

.list-one {
    border-bottom: 1px solid #d73e4d;
}

.pro-anchor {
    display: inline-block;
    text-decoration: none;
    color: #292929;
    text-align: center;
    padding-bottom: 10px;
}

.pic-pro {
    width: 33.33%;
    padding: 0px 15px;
    margin-bottom: 32px;
    float: left;
}

.pic {
    width: 100%;
}

.cre-section {
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 70px;
    width: 100%;
}

.cre-work {
    text-align: center;
    padding: 134px 0px 137px;
    background-color: rgba(0, 0, 0, 0.8);

}

.cre-section .cre-work h3 {
    color: white;
    margin-bottom: 25px;
    font-size: 28px;
}

.cre-clr {
    color: #d73e4d;
}

.cre-together {
    width: 200px;
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #d73e4d;
}

.team-member {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
    margin-bottom: 30px;

}

.team-pic-mem {
    background-color: #e6e6e6;
}

.team-pic {
    width: 100%;
    overflow: hidden;
}

.name-member {

    text-align: center;

}

.name-txt {
    color: #696f78;
    /*    text-transform: capitalize;*/
    font-size: 18px;
    padding-top: 12px;
    line-height: 1.1;

}

.name-web {
    color: #373a3f;
    margin: 5px 0 8px;

}

.skill-section {
    width: 100%;
    background-color: #232a34;
    margin-top: 70px;
}

.skill-cont {
    width: 100%;
    overflow: auto;
    /*    clear: both;*/

}

.skill-pic {
    width: 50%;
    float: left;
    padding: 0px 15px;

}

.skill-per {
    margin: 125px 0px 0px;
    width: 100%;
    position: relative;

}

.ratio-per {
    background-color: white;
    height: 30px;
    width: 100%;
    margin: 0px 0px 38px;
    position: relative;
}

.skill-text {
    position: absolute;
    top: -29px;
    left: 0;
}

.skill-txt-code {
    font-weight: 700;
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}

.color-red {
    height: 100%;
    background-color: #d73e4d;
}

.per-red {
    width: 89%;

}

.per-red2 {
    width: 58%;
}

.per-red3 {
    width: 49%;
}

.per-red4 {
    width: 76%;
}

.per-red5 {
    width: 64%;
}

.per-txt {
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -30px;
    left: 90%;
}

.picture-client {
    width: 100%;
    text-align: center;
    margin: 58px 0px 50px;
}

.client-info {
    width: 1170px;
}

.client-pic {
    text-align: center;
}

.client-info {
    font-size: 18px;
    color: #343434;
    line-height: 28px;
    margin: 33px auto 24px;
    width: 87%;
}

.client-name {
    margin-bottom: 45px;
    text-transform: capitalize;
    font-size: 18px;
}

.dot {
    width: 30%;
    margin: auto;


}

.dot-inner {
    display: inline-block;

}

.red {
    width: 13px;
    height: 13px;
    background-color: #d73e4d;
    border: 1px solid #d73e4d;
    margin: 0 5px;
    border-radius: 50%
}

.plain {
    width: 13px;
    height: 13px;
    background-color: white;
    border: 1px solid #9d9f9f;
    margin: 0 5px;
    border-radius: 50%;
}

.price-sec {
    width: 100%;
    background-color: #f3f3f3;
    padding: 100px 0px;
    margin-top: 45px;
}

/*
.price-main
{
    width: 33.33%;
    padding: 0px 15px;
    float: left;
}
*/
.price-inner {
    background-color: white;
    text-align: center;
    border: 1px solid #dfdfdf;
    padding: 28px 0px 22px;
}

h4 {
    font-size: 24px;
}

.price-sec .price-inner p {
    margin: 4px 0px 20px;
    line-height: 26px
}

.color-2 {
    background-color: #375099;
}

.color-1 {
    background-color: #d6973d;
}

.color-3 {
    background-color: #179680;
}

.price-sec .price-inner strong {

    font-weight: 700;
    font-size: 24px;
    color: #fff;
    display: block;
    padding: 23px 0;
    margin-bottom: 30px;
}

.price-sec .price-inner strong span {
    font-size: 14px;
}

.clr-one {
    background-color: #f7f8f4;
    /*        line-height: 45px;*/
}

.price-sec .price-inner ul li {
    line-height: 45px;
}

.buy-client {
    width: 150px;
    color: white;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
    background-color: #d73e4d;
    border: 1px solid #d73e4d;
    display: inline-block;
    text-decoration: none;
}

.blog-data {
    margin-top: 55px;
    width: 100%;
}

.blog-text {
    width: 100%;
}

h6 {
    font-size: 18px;
}

.blog-ref {
    line-height: 26px;
    display: block;
    text-decoration: none;
    color: #292929;
    margin: 40px 0px 15px;
    text-transform: capitalize;

}

.about-sec .blog-data .blog-text > a {
    color: #292929;
    font-size: 15px;
    margin-bottom: 18px;
    text-decoration: none;
}

.admin {
    color: #d73e4d;
}

.about-sec .blog-data .blog-text p a {
    color: #292929;
    text-decoration: none;
}

.partner-sec {
    margin: 100px 0 0;
    background-color: #f9f9f9;
    padding: 50px;
}

.part-common {
    width: 100%;
    overflow: auto;
}

.partner-logo {
    width: 20%;
    text-align: center;
    float: left;

}

.part-icon {
    border: 1px solid #dfdfdf;
    height: 118px;
    padding-top: 22px;
}
.contact
{
    float: left;
    width: 50%;
    padding: 0 15px;
}
.loc-sec
{
    width: 100%;
    background-color: white;
}
.common
{
    width: 100%;
    overflow: auto;
}
.loc-head
{
    font-size: 36px;
    margin: 95px 0 35px;
}
.loc-pera
{
   margin-bottom: 20px; 
}
.loc-ul
{
    margin-top: 70px;
}
.loc-items
{
    position: relative;
    padding-left: 85px;
    margin-bottom: 50px;
}
.loc-icon
{
    width: 60px;
    height: 60px;
    border: 1px solid #d73e4d;
    position: absolute;
    left: 0;
    top: -9px;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 30px;
    background-color:#d73e4d;
    border-radius: 50%;
}
.icon-h6
{
    font-size: 14px;
    margin-bottom: 8px;
}
.map-main
{
    position: relative;
}
.map-img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
/*    background-color: rgb(229, 227, 223);*/
}
.send-h2
{
    font-size: 36px;
    margin: 50px 0 40px;
}
.common-form
{
    width: 100%;
    overflow: auto;

}
.form-main
{
    width: 33.33%;
    float: left;
    padding: 0 10px 0 0;
}
.form-main-you
{
    width: 33.33%;
    float: left;
/*    padding: 0 0px 0 0;*/
}
.form-upr
{
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    padding: 15px 15px;
}
.form-sub
{
    width: 100%;
}
.form-msg
{
    margin-bottom: 25px;
    border: 1px solid #dfdfdf;
    padding: 20px 15px;
    height: 260px;
}
.send
{
    background-color: #d73e4d;
    border: 1px solid #d73e4d;
    width: 140px;
    line-height: 40px;
    
/*    padding: 15px 10px;*/
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.footer-section
{
    width: 100%;
    background-color: #1e1e1e;
    margin-top: 100px;
    padding: 60px 0 25px;
    text-align: center;
}
.footer-logo
{
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
}
.footer-section ul li
{
    display: inline-block;
    margin-top: 13px;
}
.footer-section ul li a
{
    width: 45px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 7px;
    border: 1px solid;
    text-decoration: none;
    display: inline-block;
}
.foot-soc-icon
{
    color: #677fb5;
    border-color: #677fb5;
    border-radius: 50%;
   
}
.foot-soc-icon2
{
    border-radius: 50%;
    color: #70c2e9;
    border-color: #70c2e9;
}.foot-soc-icon3
{
    border-radius: 50%;
    color: #d8545d;
    border-color: #d8545d;
}.foot-soc-icon4
{
    border-radius: 50%;
    color: #007ab9;
    border-color: #007ab9
}.foot-soc-icon5
{
    border-radius: 50%;
    color: #5ecbf3;
    border-color: #5ecbf3;
}.foot-soc-icon6
{
    border-radius: 50%;
    color: #ff3ba4;
    border-color: #ff3ba4;
}.foot-soc-icon7
{
    border-radius: 50%;
    color: #e299c2;
    border-color: #e299c2;
}
.foot-soc-icon8
{
    color: #faaa5e;
    border-color: #faaa5e;
    border-radius: 50%;
}
.footer-section p
{
    color: #fff;
    font-size: 15px;
    margin-top: 50px;
}
.color-foot
{
    display: inline-block;
    text-decoration: none;
    color: #337ab7;
}




